<div class="conteiner_big-card">
  <div class="big-card__img">
    <img src="https://img.freepik.com/fotos-gratis/folhas-de-outono-bonitas-no-outono-fundo-vermelho-luz-solar-ensolarada-horizontal_1220-1660.jpg"
     alt="#">
  </div>

  <div class="big-card__title">
    <h1><a href="#">Lorem ipsum</a></h1>
  </div>

  <div class="big-card__conteudo">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate cum assumenda veritatis, dolorem, facere repellat alias voluptate voluptatibus id labore, earum cumque adipisci eaque exercitationem sed rerum est itaque error?</p>
  </div>
</div>


