<div class="conteiner_small-card">
  <div class="conteiner_small-card-content">
    <div class="small-card__img">
      <img src="https://s2-techtudo.glbimg.com/SSAPhiaAy_zLTOu3Tr3ZKu2H5vg=/0x0:1024x609/888x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/c/u/15eppqSmeTdHkoAKM0Uw/dall-e-2.jpg"
      alt="#">
    </div>

    <div class="small-card__title">
      <h1><a href="#">Lorem ipsum, Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></h1>
    </div>
  </div>
  <div class="samall-card_linha">
    <hr>
  </div>
</div>
